# 2022 Season

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/champ_droughts.csv')
df

,Unnamed: 0,TEAM/YEAR,2021,2020,2019,2018,2017,2016,2015,2014,...,1913,1912,1911,1910,1909,1908,1907,1906,1905,1903
0,0,Indians (2),1 (72),71*,70*,69*,68*,67*,66,65,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
1,1,Rangers (0),2 (60),59,58,57,56,55,54,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Brewers (0),3 (52),51,50,49,48,47,46,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Padres (0),3 (52),51,50,49,48,47,46,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Mariners (0),5 (44),43,42,41,40,39,38,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Pirates (5),6 (41),40,39,38,37,36,35,34,...,4,3,2,1,0,5*,4*,3*,2*,1*
6,6,Orioles (3),7 (37),36,35,34,33,32,31,30,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
7,7,Tigers (4),8 (36),35,34,33,32,31,30,29,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
8,8,Mets (2),9 (34),33,32,31,30,29,28,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Athletics (9),10 (31),30,29,28,27,26,25,24,...,0,1,0,0,6*,5*,4*,3*,2*,1*
10,10,Reds (5),11 (30),29,28,27,26,25,24,23,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
11,11,Twins (3),12 (29),28,27,26,25,24,23,22,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
12,12,Rockies (0),13 (28),27,26,25,24,23,22,21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Blue Jays (2),14 (27),26,25,24,23,22,21,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Rays (0),15 (24),23,22,21,20,19,18,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Diamondbacks (1),16 (20),19,18,17,16,15,14,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Angels (1),17 (19),18,17,16,15,14,13,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Marlins (2),18 (18),17,16,15,14,13,12,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,White Sox (3),19 (16),15,14,13,12,11,10,9,...,7,6,5,4,3,2,1,0,2*,1*
19,19,Phillies (2),20 (13),12,11,10,9,8,7,6,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
20,20,Yankees (27),21 (12),11,10,9,8,7,6,5,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
21,21,Cardinals (11),22 (10),9,8,7,6,5,4,3,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
22,22,Giants (8),23 (7),6,5,4,3,2,1,0,...,8,7,6,5,4,3,2,1,0,1*
23,23,Royals (2),24 (6),5,4,3,2,1,0,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Cubs (3),25 (5),4,3,2,1,0,106**,105*,...,5,4,3,2,1,0,0,3*,2*,1*
25,25,Astros (1),26 (4),3,2,1,0,54,53,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Red Sox (9),27 (3),2,1,0,4,3,2,1,...,1,0,7,6,5,4,3,2,1,0
27,27,Nationals (1),28 (2),1,0,49,48,47,46,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,Dodgers (7),29 (1),0,30,29,28,27,26,25,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
29,29,Braves (4),30 (0),25,24,23,22,21,20,19,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*

In [ ]:
post_teams_22 = ['']