## 2022 Season

In [65]:
import pandas as pd

In [69]:
df = pd.read_csv('../data/champ_droughts.csv')
copy = df.copy()

In [70]:
copy.drop('Unnamed: 0', axis=1).to_csv('../data/champ_droughts.csv', index=False)

In [74]:
df = pd.read_csv('../data/ws_droughts.csv')

In [75]:
df = pd.read_csv('../data/lcsp_droughts.csv')
copy = df.copy()
copy.drop('Unnamed: 0', axis=1).to_csv('../data/lcsp_droughts.csv', index=False)

In [76]:
df = pd.read_csv('../data/postseason_droughts.csv')
copy = df.copy()
copy.drop('Unnamed: 0', axis=1).to_csv('../data/postseason_droughts.csv', index=False)

In [77]:
post_teams_22 = ['Astros (15)', 'Blue Jays (8)', 'Braves (27)', 'Cardinals (31)', 'Indians (15)',
                 'Dodgers (35)', 'Mariners (4)', 'Mets (9)', 'Phillies (14)', 'Padres (6)',
                'Rays (7)', 'Yankees (57)']

In [78]:
lcsp_teams_22 = ['Padres (2)', 'Yankees (46)', 'Astros (9)', 'Phillies (11)']

In [79]:
ws_teams_22 = ['Astros (4)', 'Phillies (7)']

In [80]:
champ_team_22 = 'Astros (1)'

In [81]:
import sys, os

In [82]:
sys.path.append(os.pardir)

In [83]:
sys.path

['/Users/gadamico/Fun/Sports-Data/baseball/notebooks',
 '/Users/gadamico/opt/anaconda3/envs/learn-env/lib/python38.zip',
 '/Users/gadamico/opt/anaconda3/envs/learn-env/lib/python3.8',
 '/Users/gadamico/opt/anaconda3/envs/learn-env/lib/python3.8/lib-dynload',
 '',
 '/Users/gadamico/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages',
 '/Users/gadamico/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/extensions',
 '/Users/gadamico/.ipython',
 '..',
 '..']

In [84]:
from src.update_mlb import *

In [85]:
update_table(post_teams=post_teams_22, lcsp_teams=lcsp_teams_22, ws_teams=ws_teams_22,
            champ_team=champ_team_22, new_year='2022')

In [87]:
pd.read_csv('../data/champ_droughts.csv')

,TEAM/YEAR,2022,2021,2020,2019,2018,2017,2016,2015,2014,...,1913,1912,1911,1910,1909,1908,1907,1906,1905,1903
0,Indians (2),1 (73),72*,71*,70*,69*,68*,67*,66,65,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
1,Rangers (0),2 (61),60,59,58,57,56,55,54,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Brewers (0),3 (53),52,51,50,49,48,47,46,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Padres (0),3 (53),52,51,50,49,48,47,46,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mariners (0),5 (45),44,43,42,41,40,39,38,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Pirates (5),6 (42),41,40,39,38,37,36,35,34,...,4,3,2,1,0,5*,4*,3*,2*,1*
6,Orioles (3),7 (38),37,36,35,34,33,32,31,30,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
7,Tigers (4),8 (37),36,35,34,33,32,31,30,29,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
8,Mets (2),9 (35),34,33,32,31,30,29,28,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Athletics (9),10 (32),31,30,29,28,27,26,25,24,...,0,1,0,0,6*,5*,4*,3*,2*,1*
10,Reds (5),11 (31),30,29,28,27,26,25,24,23,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
11,Twins (3),12 (30),29,28,27,26,25,24,23,22,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
12,Rockies (0),13 (29),28,27,26,25,24,23,22,21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Blue Jays (2),14 (28),27,26,25,24,23,22,21,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Rays (0),15 (25),24,23,22,21,20,19,18,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Diamondbacks (1),16 (21),20,19,18,17,16,15,14,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Angels (1),17 (20),19,18,17,16,15,14,13,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Marlins (2),18 (19),18,17,16,15,14,13,12,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,White Sox (3),19 (17),16,15,14,13,12,11,10,9,...,7,6,5,4,3,2,1,0,2*,1*
19,Phillies (2),20 (14),13,12,11,10,9,8,7,6,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
20,Yankees (27),21 (13),12,11,10,9,8,7,6,5,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
21,Cardinals (11),22 (11),10,9,8,7,6,5,4,3,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
22,Giants (8),23 (8),7,6,5,4,3,2,1,0,...,8,7,6,5,4,3,2,1,0,1*
23,Royals (2),24 (7),6,5,4,3,2,1,0,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Cubs (3),25 (6),5,4,3,2,1,0,106**,105*,...,5,4,3,2,1,0,0,3*,2*,1*
25,Red Sox (9),26 (4),3,2,1,0,4,3,2,1,...,1,0,7,6,5,4,3,2,1,0
26,Nationals (1),27 (3),2,1,0,49,48,47,46,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Dodgers (7),28 (2),1,0,30,29,28,27,26,25,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
28,Braves (4),29 (1),0,25,24,23,22,21,20,19,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
29,Astros (2),30 (0),4,3,2,1,0,54,53,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2023 Season

In [88]:
post_teams_23 = ['Astros (16)', 'Blue Jays (9)', 'Braves (28)', 'Brewers (8)', 'Diamondbacks (6)',
                'Dodgers (36)', 'Marlins (3)', 'Orioles (14)', 'Phillies (15)', 'Rangers (8)',
                'Rays (8)', 'Twins (17)']
lcsp_teams_23 = ['Astros (10)', 'Diamondbacks (2)', 'Phillies (12)', 'Rangers (2)']
ws_teams_23 = ['Diamondbacks (1)', 'Rangers (2)']
champ_team_23 = 'Rangers (0)'

In [90]:
update_table(post_teams=post_teams_23, lcsp_teams=lcsp_teams_23, ws_teams=ws_teams_23,
             champ_team=champ_team_23, new_year='2023')

In [91]:
pd.read_csv('../data/champ_droughts.csv')

,TEAM/YEAR,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,1913,1912,1911,1910,1909,1908,1907,1906,1905,1903
0,Indians (2),1 (74),73*,72*,71*,70*,69*,68*,67*,66,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
1,Brewers (0),2 (54),53,52,51,50,49,48,47,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Padres (0),2 (54),53,52,51,50,49,48,47,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mariners (0),4 (46),45,44,43,42,41,40,39,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pirates (5),5 (43),42,41,40,39,38,37,36,35,...,4,3,2,1,0,5*,4*,3*,2*,1*
5,Orioles (3),6 (39),38,37,36,35,34,33,32,31,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
6,Tigers (4),7 (38),37,36,35,34,33,32,31,30,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
7,Mets (2),8 (36),35,34,33,32,31,30,29,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Athletics (9),9 (33),32,31,30,29,28,27,26,25,...,0,1,0,0,6*,5*,4*,3*,2*,1*
9,Reds (5),10 (32),31,30,29,28,27,26,25,24,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
10,Twins (3),11 (31),30,29,28,27,26,25,24,23,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
11,Rockies (0),12 (30),29,28,27,26,25,24,23,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Blue Jays (2),13 (29),28,27,26,25,24,23,22,21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Rays (0),14 (26),25,24,23,22,21,20,19,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Diamondbacks (1),15 (22),21,20,19,18,17,16,15,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Angels (1),16 (21),20,19,18,17,16,15,14,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Marlins (2),17 (20),19,18,17,16,15,14,13,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,White Sox (3),18 (18),17,16,15,14,13,12,11,10,...,7,6,5,4,3,2,1,0,2*,1*
18,Phillies (2),19 (15),14,13,12,11,10,9,8,7,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
19,Yankees (27),20 (14),13,12,11,10,9,8,7,6,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
20,Cardinals (11),21 (12),11,10,9,8,7,6,5,4,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
21,Giants (8),22 (9),8,7,6,5,4,3,2,1,...,8,7,6,5,4,3,2,1,0,1*
22,Royals (2),23 (8),7,6,5,4,3,2,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Cubs (3),24 (7),6,5,4,3,2,1,0,106**,...,5,4,3,2,1,0,0,3*,2*,1*
24,Red Sox (9),25 (5),4,3,2,1,0,4,3,2,...,1,0,7,6,5,4,3,2,1,0
25,Nationals (1),26 (4),3,2,1,0,49,48,47,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Dodgers (7),27 (3),2,1,0,30,29,28,27,26,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
27,Braves (4),28 (2),1,0,25,24,23,22,21,20,...,10*,9*,8*,7*,6*,5*,4*,3*,2*,1*
28,Astros (2),29 (1),0,4,3,2,1,0,54,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Rangers (1),30 (0),61,60,59,58,57,56,55,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN